* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background: rgb(6,2,23);
  background: linear-gradient(90deg, rgba(6,2,23,1) 0%, rgba(6,2,24,1) 35%, rgba(5,9,53,1) 100%);
  min-height: 100vh;
  color: white;
  p {
    margin: 0;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #060217;
}

::-webkit-scrollbar-thumb {
  background-color: #050935;
  border-radius: 40px;
}